<div class="comments-header">
  <h4>
    <%= commentable.comment_threads.count == 0 ? "This review doesn't have any " : commentable.root_comments.count %> comments
  </h4>
</div>


<div class="comments-container">
  <%= render partial: "comments/reply", locals: {comments: commentable.root_comments} %>
</div>


<%= render partial: "comments/form", locals: {new_comment: new_comment} %>