<%= form_for Vote.new, remote: true do |f| %>
	<div><%= hidden_field_tag :votable_id, user_id %></div>
	<div><%= hidden_field_tag :votable_type, "User" %></div>
	<%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>
<script type='text/javascript'>

    (function()
    {
        if( window.localStorage )
        {
            if( !localStorage.getItem('firstLoad') )
            {
                localStorage['firstLoad'] = true;
                window.location.reload();
            }
            else
                localStorage.removeItem('firstLoad');
        }
    })();

</script>
