<li id="user-<%= user.id %>">
  <%= image_tag user.avatar.url(:medium), class: "round-image-50" %>
  <span class="user">
  <% name = user.email unless name = user.name %>
  <%= link_to name, user %></span>
</li>