<% @categories.each do |category|
	category_Arr = (0..@categories.count)
	#books = category.books.paginate(page: params[category.name],per_page: 4)
	if user_signed_in?
		book_ids = current_user.feed.select(:book_id)
		books = category.books.where(id: book_ids).to_a
		category.books.where("books.id NOT IN (?)", book_ids).each do |book|
			books << book
		end
	else
		books = category.books
	end
			%>
	<div class="page-header"><h3><%= category.name %></h3></div>
	<% if books.count == 0 %>
	    <h1>There are no books currently in this category</h1>
	<% else %>
		<% books.take(4).in_groups_of(2, false).each do |group| %>
			<%= render "book_list", group: group %>
		<% end %>
		<% if category.books.count > 4 %>
	  <%= link_to "<div class='btn btn-primary float-right'>See more</div>".html_safe, books_path:category, :category => category.name %>
	  	<%end%>
	<% end %>
<% end %>
<br>
<%= will_paginate @categories %>
