<div class="page-header"><h3><%= @category_name %></h3></div>
<% if @books.count == 0 %>
    <h1>There are no books currently in this category</h1>
<% else %>
	<% if user_signed_in?
			book_ids = current_user.feed.select(:book_id)
			temp_books = @books.where(id: book_ids).to_a
			@books.where("books.id NOT IN (?)", book_ids).each do |book|
				temp_books << book
			end
			@books = temp_books
		end
	%>
	<% @books.in_groups_of(2, false).each do |group| %>
		<%= render "book_list", group: group %>  
	<% end %>
  <%= will_paginate %>
<% end %>