<p id="alert", style="color:red;font-size:36px"><%= alert %></p>

<% if params[:category].blank? %>

	<%= render 'all_books' %>
	<% else %>
	<%= render 'via_category'%>
<%end%>

<script>
    $('.average-review-rating').raty({
        readOnly: true,
        path: '/assets/',
        score: function() {
            return $(this).attr('data-score')
        }
    });
</script>
