// book_img resize  using in books/index.html.erb
.book {
	height: 100%;
  	width: 100%;
}

// book_img resize  using in books/show.html.erb
.book-show {
  height: 475px;
  width: 325px;
}

//user's avatar at nav_bar
.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

//user's avatar at profile
.round-image-150 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 150px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.navbar-user-avatar {
  padding: 0px !important;
  background-color: unset !important;
}

.book-contentinfo {
	height: 275px;
	overflow: hidden;
	margin-bottom: 10px;
}

.book-authorinfo {
	height: 60px;
}

.box {
	align: left;
	border: 2px solid grey;
    height: 350px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}