@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
  font-family: 'Genkai-Mincho';
  src: font-url('genkai-mincho.ttf') format("truetype");
}
/* mixins, variables, etc. */
#display-comment{
  display: none;
}
$gray-medium-light: #eaeaea;
body {
  background-image: image-url('background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  /* color: #333; */
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  //color: #5e5e5e;
  color: white;
  background-color: transparent;
}

.custom-navbar {
  margin: 0;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 5px solid #000;
  border-top: 2px solid #000;
  background: #222;
  font-family: 'Genkai-Mincho';
}

.custom-footer {
  margin: 0;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  border-top: 5px solid #000;
  border-bottom: 2px solid #000;
  background: #222;
  font-family: 'Genkai-Mincho';
  //color: #F7F7F7 !important;
}

//.red-text {
//  color: #F7F7F7 !important;
//}

.back-to-top {
  position: fixed;
  bottom: 8em;
  right: 15px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.80) !important;
  font-size: 12px;
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  img {
    width: 50px;
    height: auto;
  }
}

.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.50);
}
// book_img resize  using in books/index.html.erb
.book {
	height: 475px;
  width: 100%;
}

// book_img resize  using in books/show.html.erb
.book-show {
  height: 475px;
  width: 325px;
}

//user's avatar at nav_bar
.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

//user's avatar at profile
.round-image-150 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 150px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.navbar-user-avatar {
  padding: 0px !important;
  background-color: unset !important;
}

.book-contentinfo {
	height: 325px;
	overflow: hidden;
	margin-bottom: 10px;
}

.book-authorinfo {
	height: 60px;
}

.box {
	align: left;
	border: 2px solid grey;
    height: 350px;
    overflow: hidden;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* footer */

footer {
  position: fixed;
  text-align: center;
  left: 0px;
  right: 0px;
  margin-top: 45px;
  bottom: 0px;
  padding-bottom: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-medium-light;
    }
  }
  small {
    display: inline-block;
    text-align: center;
  }
  ul {
    display: inline-block;
    list-style: none;
    padding-left: 0px;
    li {
      display: inline-block;
      margin-left: 15px;
    }
  }
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}

.padding-top-120 {
  padding-top: 120px;
}

.button-back button-edit{
  color: red;
}

#button-edit{
  color: white;
}

.right{
  position:absolute;
  right:0px;
}

.row-text{
  text-align: justify;
  text-justify: inter-word;
}

.col-cancel-button{
  padding-left: 3px;
}

.float-right{
  float:right;
}

//.background-image-layout{
//
//  background-image: image-url('background2.jpg'); // link to /assets/images/texture.png
//}

blockquote.remove:after {
    content: "";

}

blockquote.remove:before {
    content: "";
}

blockquote.remove{
  border-left-width: 0px;
  padding-left:0px;
  width:100%;
}

.tab{
  display:inline;
}

table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.userlist {
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
}

.userlist-header{
  background-color: #5D7B9D;
  color: #ffffff;
  .function {
    text-align: center;
  }
}
