// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Style the buttons inside the tab */
button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 34px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    text-align: left;
    border-collapse: collapse;
}

.tabcontent div:nth-child(even) {
    background-color: #ccc;
}
.tabcontent div:nth-child(odd) {
   background-color: #eeeeee;
}

.middlePage {
	width: 800px;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo {
	color: #000000;
}

.my-sign-up {
    font-size: 30px;
}