<% if (number = review.get_likes.size) == 0 %>
    0<i class="fa fa-thumbs-up" aria-hidden="true"></i>
<% else %>
	<span class="dropdown">
	  <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-expanded="false">
				<%= number %>
				<% if number == 1 %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<% else %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<% end %>	
    </a>
	  <ul class="dropdown-menu" role="menu">
	    <% Vote.where("votable_id=?", review.id).each do |like| %>
	    	<li><%= User.find_by(id: like.voter_id).email %></li>
	   	<% end %>
	  </ul>
	</span>
 <% end %>
