<% if (number = review.get_likes.size) == 0 %>
	No one likes this :(
<% else %>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button" aria-expanded="false"> 
				<%= number %>
				<% if number == 1 %>
			  	 person likes this!
				<% else %>
			  	 people like this :o
				<% end %>	
	  <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	    <% Vote.where("votable_id=?", review.id).each do |like| %>
	    	<li><%= User.find_by(id: like.voter_id).email %></li>
	   	<% end %>
	  </ul>
	</li>
 <% end %>
